@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap");

* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  position: relative;
  background-color: rgb(65, 65, 65);
}

#formRegister {
  position: absolute;
  left: 750px;
  top: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(199, 199, 199);
  width: 400px;
  height: 400px;
  border-radius: 20px;
}

#formRegister > h2 {
  font-weight: 900;
  margin-bottom: 80px;
  font-size: 34px;
}

#registerForm {
  position: relative;
  bottom: 60px;
  display: flex;
  height: auto;
  width: auto;
  flex-direction: column;
}

#formRegister > #registerForm > input {
  width: 325px;
  height: 50px;
  margin-bottom: 2px;
  border: none;
  border-radius: 10px;
}

#formRegister > #registerForm > input:focus {
  border: none;
  outline: none;
}

#formRegister > #registerForm > button {
  cursor: pointer;
  border: none;
  background-color: rgb(152, 188, 255);
  color: white;
  height: 50px;
  transition: .3s ease-in-out;
}

#formRegister > #registerForm > button:hover{
  background-color: rgb(108, 159, 255);
}